
[client-server]
# 端口
port=3306

[mariadbd]
# binlog文件
log_bin = /var/log/mysql/mysql-bin.log
expire_logs_days = 30
max_binlog_size = 1024M
# MIXED STATEMENT ROW 等3种模式
binlog_format = ROW


# 为MySQL服务器设置一个唯一的ID，通常用于复制和集群操作
#server-id=01
## 开启二进制日志功能
#log-bin=mysql-slave-bin
## relay_log配置中继日志
#relay_log=edu-mysql-relay-bin


# 忽略大小写
lower_case_table_names=1

#在 Unix 和 Linux 系统上，如果没有明确指定 pid-file，MySQL/MariaDB 通常会使用 /var/run/mysqld/mysqld.pid 作为 PID 文件的路径
#pid-file= /var/run/mysqld/mysqld.pid

# 设置数据库文件存放的目录
#datadir= /var/lib/mysql

# 设置文件权限，NULL表示不限制文件操作的目录
#secure-file-priv= ""

# 设置是否跳过符号链接。0表示不跳过，允许使用符号链接，建议禁用符号链接，以防止各种安全风险
#skip-symbolic-links=0

# 最大链接数
max_connections=200

# 最大失败次数
max_connect_errors=10

# 默认时区
default-time_zone='+8:00'

# 设置是否在连接建立时根据客户端的字符集进行设置
#character-set-client-handshake=FALSE

# 设置服务器默认的字符集
character_set_server=utf8mb4

# 设置服务器默认的字符集排序规则
collation-server=utf8mb4_unicode_ci

# 当客户端连接时，自动执行的SQL命令，这里设置客户端连接后使用utf8mb4字符集和排序规则
init_connect='SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci'

# 默认使用‘mysql_native_password’插件认证
default_authentication_plugin=mysql_native_password
