# the file that stores the configuration
# config.file = /etc/taos/taos.cfg

# the home directory of the TDengine, the data and log files are stored here
# dataDir = /var/lib/taos

# the user name to run the TDengine
# runUser = taos

# the password for the run user
# runPass = taos

# the port that the TDengine client uses to connect to the server
# clientPort = 6030

# the port that the TDengine server uses to communicate with other servers
# syncPort = 6031

# the port that the TDengine server uses for the HTTP protocol
#httpPort = 6041

# the directory that the log files are stored
# logDir = /var/log/taos

# the level of log messages: trace, debug, info, warn, error, fatal
# logLevel = info

# the max number of open files
# maxOpenFiles = 4096

# the number of vnodes, must be a power of 2
# vnodes = 8

# the number of days that the data is kept
# dataTime = 3650

# the number of days that the data is kept in cache, in days
# cacheLastTime = 3650

# the number of days that the data is kept in cache, in days
# cacheBlockSize = 8

# the number of days that the data is kept in the binary log
# binlogTime = 7

# the replication mode: 0 - no replication; 1 - master-slave; 2 - master-master
# replica = 0

# the interval of auto compaction, in seconds
# compactionInterval = 3600

# the duration of auto compaction, in seconds
# compactionDuration = 3600

# the retention policy of the data, in days
# keep = 3650

# the precision of the data point: d - day; h - hour; m - minute; s - second; ms - millisecond
# precision = s

# the timezone of the server: local, UTC
# timezone = UTC

# the character set of the server: utf8, gbk, gb2312, big5
# charSet = utf8

# the size of the hash table
# hashBuckets = 1000000

# the size of the queue
# queueSize = 10000

# the max number of connections
# maxConnections = 600

# the max number of results returned by a query
# maxResults = 1000000

# the max number of bytes for one row
# maxRowSize = 4000

# the max number of bytes for the binary log
# binlogMaxRows = 10000

# the max number of bytes for the binary log file
# binlogMaxSize = 268435456

# the number of days that the binary log is kept
# binlogKeepTime = 7

# the path of the binary log files
# binlogDir = /var/lib/taos/binlog

# the path of the continuous query files
# continuousQueryDir = /var/lib/taos/continuousQuery

# the path of the statistics files
# statisticsDir = /var/lib/taos/statistics

# the path of the user resource file
# userDir = /var/lib/taos/user